.arrivals {
    padding-top: 60px;
    padding-bottom: 90px;

    .slider-item {
        p {
            font-weight: 500;
            font-size: 13px;
            line-height: 153%;
            color: #3F4A5A;
        }
    }
}