.catalog {
    padding-bottom: 172px;

    .row {
        padding-top: 60px;
    }

    &-title {
        @include block_767 {
            text-align: center;
        }

        h3 {
            color: #0F2C57;
        }
    }

    &-card {
        background-color: #F9F9F9;
        box-shadow: 6px 6px 15px rgba(227, 227, 227, 0.62);
        border-radius: 2px;
        height: 100%;
    }
}

.sorts {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    margin-bottom: 30px;

    a {
        font-size: 16px;
        line-height: 150%;
        color: #fff;
        margin-right: 20px;
        font-weight: 400;

        &:first-child {
            margin-left: 11px;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}