.clients {
    padding-top: 60px;
    padding-bottom: 90px;

    @include block_767 {
        padding-right: 15px;
        padding-left: 15px;
        text-align: center;
    }

    h3 {
        color: #243949;
    }

    &-slider__slide {
        display: flex !important;
        justify-content: center;
        text-align: center;
    }

    &-row {
        align-items: center;
        justify-content: space-between;

        @include block_991 {
            justify-content: flex-start;
        }

        @include block_767 {
            text-align: cent er;
        }

        .col-lg-2 {
            margin-bottom: 30px;
        }
    }
}