.contact-content {
    background: #F7F7F7;
    box-shadow: 6px 6px 15px rgba(227, 227, 227, 0.62);
    border-radius: 2px;
    margin-top: 60px;
    margin-bottom: 75px;
    padding: 50px;

    @include block_767 {
        text-align: center;
    }

    h6 {
        font-family: 'Roboto';
        font-weight: 700;
        color: #172029;
        margin-bottom: 12px;
    }
}

.phones-menu {
    margin-bottom: 20px;

    li {
        margin-bottom: 4px;

        a {
            font-size: 16px;
            line-height: 150%;
            color: #172029;
        }
    }
}

.icons-menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include block_767 {
        justify-content: center;
    }

    li {
        margin-right: 22px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.map-wrapper {
    border: none;
    display: block;
    position: relative;
    width: 298px;
    height: 298px;
    margin-left: auto;
    cursor: pointer;

    @include block_991 {
        margin-top: 20px;
        margin-right: auto;
    }

    @include custom-media(440px) {
        width: 150px;
        height: 150px;
    }

    .pseudomap {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    .eye-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}

.modal-map {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    z-index: 1000;
    height: 70%;

    &.show-map {
        display: block;
    }

    &>* {
        height: 100% !important;
    }

    .ymaps-2-1-78-map.ymaps-2-1-78-i-ua_js_yes.ymaps-2-1-78-map-bg.ymaps-2-1-78-islets_map-lang-ru {
        height: 100% !important;
    }
}

.modal-layer {
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 199;
    background-color: rgba(0, 0, 0, 0.5);

    &.show-map {
        display: block;
    }
}