.burger-icon {
    display: inline-block;
    width: 18px;
    height: 12px;
    background-image: url('../img/burger-icon.svg');
}

.eye-icon {
    display: inline-block;
    width: 33px;
    height: 23px;
    background-image: url('../img/eye.svg');
}

.instagram-icon--black {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url('../img/instagram--black.svg');
}

.facebook-icon--black {
    display: inline-block;
    width: 17px;
    height: 30px;
    background-image: url('../img/facebook--black.svg');
}