.burger-icon {
    display: inline-block;
    width: 18px;
    height: 12px;
    background-image: url('../img/burger-icon.svg');
}

.eye-icon {
    display: inline-block;
    width: 33px;
    height: 23px;
    background-image: url('../img/eye.svg');
}