.main-page--bg {
    background-image: url(../img/main-page-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;

    .main-section-title {
        margin-bottom: 50px;
    }
}

.main-header {
    background-image: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__container {
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
    }

    @include block_767 {
        text-align: center;
    }

    &-content {
        padding-top: 140px;
        padding-bottom: 186px;
        color: #fff;
        max-width: 583px;

        h1 {
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        p {
            font-size: 36px;
            line-height: 140%;
            letter-spacing: -2px;
            margin-bottom: 74px;

            @include block_767 {
                font-size: 25px;
            }
        }

        .button_container {
            position: absolute;
            bottom: 15%;
            left: 0;

            @media (max-height: 900px) {
                bottom: 20%;
            }

            @media (max-height:750px) {
                bottom: 15%;
            }

            @include block_767 {
                transform: translateX(-50%);
                left: 50%;
            }
        }

        a {
            display: inline-block;
            padding: 17px 56px;
            border: 3px solid #FFFFFF;
            border-radius: 2px;

            @include block_480 {
                padding: 17px 28px;
            }

            &:focus {
                outline: none;
                box-shadow: 0 0 9px 2px #fff;
            }

        }
    }
}

.main-section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #fff;

    @include block_767 {
        text-align: center;
    }

    @include block_480 {
        flex-direction: column;
        justify-content: center;
    }

    a {
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        text-decoration-line: underline;
        color: #DB524E;
    }
}