.main-page--bg {
    background-image: linear-gradient(180deg, #5398BE 0%, #FFFFFF 100%);
    background-repeat: no-repeat;
    background-size: cover;

    .main-section-title {
        margin-bottom: 50px;
    }

    h3 {
        color: #FFFFFF;
        margin-bottom: 30px;
    }

    .new-products__link {
        display: none;
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        text-decoration: underline;
        color: #FFF;
        margin-left: 6px;
        margin-top: 30px;

        @include block_991 {
            display: block;
        }

        @include block_767 {
            width: max-content;
            margin-left: auto;
            margin-right: auto;

        }

        @include block_575 {
            margin-top: 80px;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

.main-page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;

    @include block_767 {
        justify-content: center;
    }

    a,
    h3 {
        margin: 0 !important;
    }

    a {
        display: initial !important;

        @include block_991 {
            display: none !important;
        }
    }
}

.slick-arrow {
    outline: none;

    &:hover {
        cursor: pointer !important;
    }
}

.main-header {
    background: linear-gradient(0deg, rgba(41, 99, 132, 0.42), rgba(41, 99, 132, 0.42));
    backdrop-filter: blur(9px);

    &--bg {
        background-image: url('../img/mani-header-bg.jpg');
        background-repeat: no-repeat;
        background-position: -135px -36px;
        background-size: 165%;

        @include block_767 {
            background-position: center center;
            background-size: cover;
        }

        @media (min-width: 1420px) {
            background-size: 130%;
            background-position: -10px -20px;
        }
    }

    &__container {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
    }

    @include block_767 {
        text-align: center;
    }

    &-content {
        padding-top: 140px;
        padding-bottom: 186px;
        color: #fff;
        max-width: 583px;

        h1 {
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        p {
            font-size: 36px;
            line-height: 140%;
            letter-spacing: -2px;
            margin-bottom: 74px;

            @include block_767 {
                font-size: 25px;
            }
        }

        .button_container {
            position: absolute;
            bottom: 15%;
            left: 0;

            @media (max-height: 900px) {
                bottom: 20%;
            }

            @media (max-height:750px) {
                bottom: 15%;
            }

            @include block_767 {
                transform: translateX(-50%);
                left: 50%;
            }
        }

        a {
            display: inline-block;
            padding: 17px 56px;
            border: 3px solid #FFFFFF;
            border-radius: 2px;

            @include block_480 {
                padding: 17px 28px;
            }

            &:focus {
                outline: none;
                box-shadow: 0 0 9px 2px #fff;
            }

        }
    }


    @include block_767 {
        text-align: center;
    }

    @include block_575 {
        flex-direction: column;
        justify-content: center;
    }
}