.navigation {
    padding-top: 22px;
    padding-bottom: 20px;

    .row {
        @include block_575 {
            margin-right: 0;
        }
    }

    &--flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 22px;
        padding-bottom: 38px;
    }

    &-phones {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-lg {
            @include block_991 {
                display: none;
            }
        }

        &-sm {
            display: none;

            @include block_991 {
                display: flex;
            }
        }

        li {
            a {
                font-size: 16px;
                line-height: 150%;
                color: #3F4A5A;

                @include block_991 {
                    color: #FFFFFF;
                }
            }
        }
    }

    &-cats {
        &-btn {
            position: relative;
            background-image: linear-gradient(180deg, #154484 0%, #12396E 100%);
            border-radius: 2px;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
            padding-top: 18px;
            padding-bottom: 18px;
            width: 100%;
            border: none;

            &:hover {
                cursor: pointer;

                .dropdown {
                    display: block;
                }

                .dropdown_menu--animated {
                    display: block;
                }
            }

            @include block_991 {
                width: 221px;
                border-width: 0;
                background-image: none;
                color: #20252D;
                background-color: #FFFFFF;
                margin-bottom: 68px;
            }

            img {
                margin-right: 12px;
            }
        }
    }

    &-links {
        margin-top: 17px;

        @include block_991 {
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: radial-gradient(48.83% 78.14% at 67.46% 39.56%, #272E39 0%, #191D23 100%);
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;
            z-index: 1;
        }

        &.show-nav {
            opacity: 1;
            visibility: visible;
            z-index: 2;
        }

        .burger-icon {
            margin-right: 15px;

            @include block_991 {
                background-image: url('../img/dark-burger.svg');
            }
        }

        &-menu {
            display: flex;
            align-items: center;

            @include block_991 {
                flex-direction: column;
                margin-bottom: 20vh;
            }

            li {
                margin-right: 60px;

                @include block_1199 {
                    margin-right: 30px;
                }

                @include block_991 {
                    margin-right: 0px;
                    margin-bottom: 24px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                a {
                    position: relative;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 150%;
                    color: #3F4A5A;

                    @include block_991 {
                        font-size: 16px;
                        color: #FFFFFF;
                    }

                    &:hover {
                        &::before {
                            width: 80%;
                        }
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        top: -14px;
                        left: 50%;
                        transform: translateX(-50%);
                        background-image: linear-gradient(180deg, #154484 0%, #12396E 100%);
                        height: 4px;
                        width: 0%;
                        transition: all 0.3s;
                    }
                }
            }
        }
    }
}

.search-wrapper {
    position: relative;
    width: 570px;

    &::before {
        position: absolute;
        content: '';
        top: 50%;
        left: 33px;
        transform: translateY(-50%);
        background-image: url('../img/search.svg');
        width: 16px;
        height: 16px;

        @include block_991 {
            display: none;
        }
    }

    input {
        border: #12396E solid 4px;
        border-radius: 2px;
        padding: 24px 32px 24px 60px;
        width: 100%;

        &:focus {
            outline: 0;
            box-shadow: 0px 0px 9px 2px #12396E;
        }

        @include block_991 {
            display: none;
            padding: 15px;
            z-index: 220;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%);
            width: 75%;

            &.d-block {
                display: block;
            }
        }

        @include block_480 {
            // font-size: 13px;
            border-width: 2px;
        }

        &::placeholder {
            font-size: 16px;
            line-height: 150%;
        }
    }
}

.lang-btn {
    border-width: 0px;
    background-color: transparent;
    padding: 0;
    text-align: end;

    img {
        &:hover {
            cursor: pointer;
        }
    }

    &-wrapper {
        @include block_991 {
            position: absolute;
            bottom: 20px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
    }
}

.sm-lang-btn {
    @include block_991 {
        margin-bottom: 24px;
    }
}

.main-burger {
    display: none;
    margin: 0;
    padding: 0;
    border-width: 0;
    background-color: transparent;
    max-width: 100%;
    z-index: 3;

    &:focus {
        outline: none;
    }

    img {
        height: 23px;
    }

    @include block_991 {
        display: block;
    }
}

.cat-burger-position {
    @include block_991 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.dropdown {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 2px;
    border: 2px solid #154484;
    position: relative;
    perspective: 1000px;
    z-index: 100;

    li {
        border-bottom: 1px solid #D3D8DE;
        opacity: 0;
        display: flex;
        align-items: center;
        min-height: 42px;
        text-align: left;
    }

    a {
        font-size: 16px;
        line-height: 150%;
        color: #3F4A5A;
        min-height: 42px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        width: 100%;
    }
}

.dropdown:hover {
    cursor: pointer;
}

.dropdown:hover .dropdown_menu li {
    display: flex;
}

.dropdown_menu {
    position: absolute;
    top: 100%;
    left: -2px;
    width: 400px;
    max-width: 400px;
    perspective: 1000px;
    z-index: -1;

    @include block_991 {
        width: 100%;
        left: 0;
    }
}

.dropdown_menu li {
    display: none;
    opacity: 0;

    &::before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        content: '';
        background-image: linear-gradient(180deg, #154484 0%, #12396E 100%);
        opacity: 0;
    }
}

.dropdown_menu li:hover {
    &::before {
        opacity: 1;

        @include block_991 {
            opacity: 0;
        }
    }
}

.dropdown:hover .dropdown_menu--animated {
    display: block;
}

.dropdown_menu-2 {
    border-radius: 2px;
    border: 0px;
    background-color: transparent;
    transition: 1s all;

    @include block_991 {
        border-width: 0 !important;
    }
}

.dropdown_menu-2 .dropdown_item-1 {
    transform-origin: top center;
    animation: rotateX 300ms 60ms ease-in-out forwards;
    background-color: #fff;
    border-left: 2px solid #12396E;
    border-right: 2px solid#12396E;
    border-top: 2px solid#12396E;
}

.dropdown_menu-2 .dropdown_item-2 {
    transform-origin: top center;
    animation: rotateX 300ms 120ms ease-in-out forwards;
    background-color: #fff;
    border-left: 2px solid #12396E;
    border-right: 2px solid #12396E;
}

.dropdown_menu-2 .dropdown_item-3 {
    transform-origin: top center;
    animation: rotateX 300ms 180ms ease-in-out forwards;
    background-color: #fff;
    border-left: 2px solid #12396E;
    border-right: 2px solid #12396E;
}

.dropdown_menu-2 .dropdown_item-4 {
    transform-origin: top center;
    animation: rotateX 300ms 240ms ease-in-out forwards;
    background-color: #fff;
    border-left: 2px solid #12396E;
    border-right: 2px solid #12396E;
}

.dropdown_menu-2 .dropdown_item-5 {
    transform-origin: top center;
    animation: rotateX 300ms 300ms ease-in-out forwards;
    background-color: #fff;
    border-left: 2px solid #12396E;
    border-right: 2px solid #12396E;
    border-bottom: 2px solid #12396E;
}

@keyframes rotateX {
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }

    50% {
        transform: rotateX(-20deg);
    }

    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

.open-search {
    border: none;
    background-color: transparent;
    display: none;
    cursor: pointer;

    img {
        width: 30px;
        height: 30px;
    }

    @include block_991 {
        display: block;
        margin-left: auto;
    }

}

.search-layer {
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 199;
    background-color: #020c1b;

    &.show-search {
        display: block;
    }
}

.start-search {
    display: none;
    z-index: 220;
    position: fixed;
    top: 60%;
    left: 50%;
    width: 15%;
    max-width: 50px;
    height: 50px;
    transform: translate(-50%);

    &.show-search {
        display: block;
    }
}

.search-close-btn {
    display: none;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 35px;
    height: 35px;
    z-index: 999;
    background-color: transparent;
    border-width: 0;

    &.show-search {
        display: block;
    }

    img {
        width: 100%;
    }
}